*{ 
    margin: 0;
    padding: 0;
    font-family:  "Poppins", sans-serif;   
}

nav {
  background-color: #99bc85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-right: 20px;
}

.logo img {
  max-width: 200%;
  height: 80px;
}


nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  position: relative;
  right: 3%;
}

nav a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}

nav a:hover {
  background-color: #99bc85;
  color: #50623a;
}

nav .dropdown {
  position: relative;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #99bc85;
  min-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .dropdown-content li {
  min-width: 100%;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}-content {
display: block;
}

.dropdown:hover .dropdown-content a:hover {
background-color: #50623a;
color: #99bc85;
}

* {
box-sizing: border-box;
}

 
.head{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgb(4,9,30,0.7)), (URL(header.jpg));
    background-size: cover;
    position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: rgb(253, 253, 253);
  font-size: 70px;
}


.button-1 {
  align-items: center;
  appearance: none;
  background-color: #99bc85;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: absolute;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
  will-change: transform,opacity;
  z-index: 0;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  text-decoration: none;
}

.button-1:hover {
  background: #fffff0;
  color: #2c3639;
}

.button-1:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 0px;
}

footer p {
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}
